<section class="hero-content" ><!-- hero content -->
            <h1 class="hero-title">{{title}}</h1>
        </section>

<section class="selling-points container"><!-- selling points -->
            <div class="point column third" ng-repeat="point in points" ng-click="toogle($index)">
                    <span class="{{point.icon}}"></span>
                    <h5 class="point-title">{{point.title}}</h5>
                    <p class="point-description">{{point.description}}</p>
            </div>
             
        </section>